<div class="h-card">
    <div class="wrapper">
        <div class="social-links">
            <ul class="social-media-list">
                <li>
                    <a href="https://www.udemy.com/course/examenes-de-practica-az-900-fundamentos-de-azure/?referralCode=5153FB06B9BAED1707EB" target="_blank" title="Examenes de práctica AZ-900 Azure Fundamentals en Español">
                      Examen de Práctica AZ-900 Azure Fundamentals. ¡En español!
                    </a>
                </li>
                <li>
                    <a href="https://www.udemy.com/course/fundamentos-de-csharp/?referralCode=90440ABA751D9D6A962C" target="_blank" title="Fundamentos de C#">
                      Fundamentos de C#.
                    </a>
                </li>
                <li>
                    <a href="https://www.udemy.com/course/tutorial-de-aspnet-core-razor-pages-desde-cero-en-espanol/?referralCode=3D9A5C40603DDC4D1D56" target="_blank" title="Tutorial de ASP.NET Core Razor Pages Desde Cero en Español">
                        Tutorial de ASP.NET Core Razor Pages Desde Cero en Español
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
