{%- if page.image == 'iconos' -%}
<meta property="og:image:height" content="339">
<meta property="og:image:width" content="647">
<meta property="og:image" content="https://aspnetcoremaster.com/og-iconos.jpg">
{%- elsif page.image == 'scripttaghelper' -%}
<meta property="og:image:height" content="331">
<meta property="og:image:width" content="632">
<meta property="og:image" content="https://aspnetcoremaster.com/og-scripttaghelper.jpg">
{%- elsif page.image == 'connectionstring' -%}
<meta property="og:image" content="https://aspnetcoremaster.com/og-connectionstring.jpg">
<meta property="og:image:height" content="358">
<meta property="og:image:width" content="683">
{%- else -%}
<meta property="og:image:height" content="347">
<meta property="og:image:width" content="663">
<meta property="og:image" content="https://aspnetcoremaster.com/og-image.jpg">
{%- endif -%}
<meta property="fb:pages" content="1282476685124585" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="561661137677920" />