<div class="h-card">
   <h4>Síguenos en Facebook:</h4>
    <div class="wrapper">
        <div class="social-links">
            <ul class="social-media-list">
                <li>
                    <a href="https://www.facebook.com/groups/291405831518163">
                        <svg class="svg-icon grey">
                            <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
                        </svg>
                        <span class="username">Grupo ASP.NET Core en Español</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>