{%- if page.image == 'iconos' -%}
<meta property="og:image" content="https://aspnetcoremaster.com/og-iconos.jpg">
<meta property="og:image:height" content="339">
<meta property="og:image:width" content="647">
<meta property="og:title" content="Agregar iconos a un proyecto de ASP.NET Core">
<meta property="og:description" content="Un elemento que puede mejorar significativamente la apariencia de tu sitio web son los iconos. En este tutorial te mostramos como usar agregar los iconos Feather a un proyecto de ASP.NET Core.">
<meta property="og:url" content="https://aspnetcoremaster.com/asp.net/core/2019/02/16/agregar-iconos.html">
{%- else -%}
<meta property="og:image:height" content="347">
<meta property="og:image:width" content="663">
<meta property="og:image" content="https://aspnetcoremaster.com/og-image.jpg">
<meta property="og:type" content="website" />
{%- endif -%}
<meta property="fb:pages" content="1282476685124585" />