<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.webp">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.webp">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{%- if page.lazy -%}
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" integrity="sha256-Md1qLToewPeKjfAHU1zyPwOutccPAm5tahnaw7Osw0A=" crossorigin="anonymous"></script>
{%- endif -%}