<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 footer-contact">
                    <h3>{{ site.title | escape }}</h3>
                    <p>
                        {%- if site.author -%}
                        {{ site.author | escape }}<br>
                        {%- else -%}
                        {{ site.title | escape }}<br>
                        {%- endif -%}

                        {%- if site.email -%}
                        <strong>Email:</strong><a class="u-email"
                            href="mailto:{{ site.email }}">{{ site.email }}</a><br>
                        {%- endif -%}
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 footer-newsletter">
                    <h4>Unete a nuestra lista de correo</h4>
                    <p>{{- site.description | escape -}}</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribete">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>{{ site.title | escape }}</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Diseñado por <a href="https://bootstrapmade.com/">{{ site.title | escape }}</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
           
            {%- if site.facebook_username -%}
            <a class="facebook" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
                <i class="bx bxl-facebook"></i>
            </a>
            {%- endif -%}

            {%- if site.github_username -%}
                <a class="github" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="bx bxl-github"></i></a>
            {%- endif -%}

            {%- if site.linkedin_username -%}
            <a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="bx bxl-linkedin"></i></a>
            {%- endif -%}

            {%- if site.twitter_username -%}
            <a class="twitter" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="bx bxl-twitter"></i></a>
            {%- endif -%}

            {%- if site.youtube_username -%}
            <a class="youtube" href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><i class="bx bxl-youtube"></i></a>
            {%- endif -%}

            {%- if site.youtube_channel -%}
            <a class="youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel| cgi_escape | escape }}"><i class="bx bxl-youtube"></i></a>
            {%- endif -%}

            {%- if site.rss -%}
            <a class="rss" href="{{ 'feed.xml' | relative_url }}"><i class="bx bxl-rss"></i></a>
            {%- endif -%}

        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main2.min.js"></script>