<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{{ "/" | relative_url }}">.NET Master</a></h1>
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                {%- if site.youtube_channel -%}
                <li><a href="https://www.youtube.com/channel/{{ site.youtube_channel| cgi_escape | escape }}" target="_blank">YouTube</a></li>
                {%- endif -%}
            </ul>
        </nav><!-- .nav-menu -->
        <a class="get-started-btn" href="/little-aspnetcore-book/index.html">Libro</a>
        <a class="get-started-btn" href="empleos.html">Empleos</a>
    </div>
</header><!-- End Header -->