<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{{ "/" | relative_url }}">Blog</a></li>
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                {%- endif -%}
                {%- endfor -%}
                {%- if site.youtube_channel -%}
                <li><a href="https://www.youtube.com/channel/{{ site.youtube_channel| cgi_escape | escape }}">YouTube</a></li>
                {%- endif -%}
            </ul>
        </nav><!-- .nav-menu -->
        <a class="get-started-btn" href="/little-aspnetcore-book/index.html">Libro</a>
    </div>
</header><!-- End Header -->