<div class="footer-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Nuestro Boletín de Noticias</h4>
                <p>Enterate de las promociones de nuestros socios .</p>
            </div>
            <div class="col-lg-6">
                <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribime">
                </form>
            </div>
        </div>
    </div>
</div>