<!DOCTYPE html>
<html lang="en">

<head>
    {%- include plantillas_head.html -%}
</head>

<body>

    {%- include plantillas_header.html -%}

    <main id="main">

        {%- include plantillas_breadcrumbs.html -%}

        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row portfolio-info">
                    <h3>Características</h3>
                    <ul>
                        <li>Admin</li>
                    </ul>
                    {{ content }}
                </div>

                <div class="row">
                    <h2 class="portfolio-title">Galería</h2>
                    <div class="owl-carousel portfolio-details-carousel">
                        {% for imagen in page.imagenes %}
                        <img src="{{ imagen }}" class="img-fluid" alt="{{ page.title}}">
                        {% endfor %}
                    </div>
                </div>
            </div>

            </div>
        </section>

    </main>

    {%- include plantillas_footer.html -%}

</body>

</html>